@model WebDocumentManagement_FileSharing.Models.Folder

@{
    ViewData["Title"] = "Đổi tên thư mục";
}

<h3>Đổi tên thư mục</h3>
<hr />

<form asp-action="Rename" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Tên mới</label>
        <input type="text" name="newName" value="@Model.Name" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
