@{
    ViewData["Title"] = "Home Page";
    // Force show sidebar on Index page
    ViewData["ForceShowSidebar"] = true;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
